/* Error: Undefined variable.
 *    ,
 * 34 |                     border-left: 1px solid $gray-300;
 *    |                                            ^^^^^^^^^
 *    '
 *   assets\scss\_header.scss 34:44  @import
 *   assets\scss\index.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 34 \2502                      border-left: 1px solid $gray-300;\d\a    \2502                                             ^^^^^^^^^\a    \2575 \a   assets\\scss\\_header.scss 34:44  @import\a   assets\\scss\\index.scss 4:9      root stylesheet";
}
