header {
    height: 90px;
    background-color: #ffffff;
    @include divSpaceBetween;
    // padding: 20px;

    .left {
        @include divSpaceBetween;
        color: #364655;

        h1.logo {
            font-size: 1.8em;
            display: flex;
            width: 180px;
            // @include divCenter;
            padding-left: 36px;
        }

        .lang-container {
            width: 180px;

            .lang {
                display: none;

                .lang-img {
                    width: 30px;
                    margin-left: 20px;
                    filter: brightness(1.4);
                    border-radius: 10%;
                }

                .lang-title {
                    margin-left: 10px;
                }

                &.active {
                    border-left: 1px solid #e1e8ee;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .lang-arrow {
                        margin-left: 10px;
                        width: 13px;
                        // transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    .middle {

    }
}
