.navigation {
    height: 100px;
    max-width: 1480px;
    margin: 0 30px;
    padding: 40px 0;

    a {
        text-decoration: none;
        color: #8d9dad;
        font-size: 1.1em;

        & + a::before {
            content: '';
            background: url(./assets/angle-sm.svg) center/contain no-repeat;
            display: inline-block;
            width: 13px;
            margin-left: 20px;
            margin-right: 20px;
            height: 100%;
            transform: rotate(-90deg) translate(-4px, 5px);
            filter: $filter-gray;
        }

        &:last-child {
            color: $blue;
        }
    }
}
