@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f6f8;
}

@mixin divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin divSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100%;
    height:50px;
    border-radius: 10px;
    @include divCenter;
    cursor: pointer;

    &.primary {
        color:#fff;
        background-color: #16d762;
    }

    &.secondary {
        color:#4e5c69;
        background-color: #f3f4f6;
    }
}
