@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$grey: #8091a5;
$blue: #249af2;
$green: #16d762;

$white: hsl(0, 0%, 100%);
$gray-50: hsl(210, 18%, 97%);
$gray-100: hsl(210, 17%, 98%);
$gray-150: hsl(210, 14%, 96%);
$gray-200: hsl(210, 16%, 93%);
$gray-300: hsl(210, 14%, 89%);
$gray-600: hsl(210, 7%, 46%);
$black: rgb(0, 0, 0); //210, 0%, 0%

$blue-500: #0b72c1;

$blue-gray: hsl(210, 18%, 58%);
$blue-gray-100: hsl(210, 15%, 36%);
$blue-gray-200: hsl(210, 21%, 27%);

// insane generator : https://codepen.io/sosuke/pen/Pjoqqp
$filter-gray: invert(62%) sepia(26%) saturate(227%) hue-rotate(169deg) brightness(96%) contrast(83%); // #8d9dad
$filter-orange: invert(55%) sepia(74%) saturate(1022%) hue-rotate(338deg) brightness(101%) contrast(93%); // #f68036
