#description {
    grid-area: 1 / 2 / 2 / 3;
    @include divSection;

    & > * + * {
        margin-top: 10px;
    }

    h2.title {
        & > span {
            font-size: 0.6em;
            font-weight: normal;
            margin-left: 5px;
            color:$grey;
        }
    }

    .tags {
        display: flex;
        justify-content: space-between;

        & > span {
            padding: 8px 15px;
            color:#364655;
            background-color: #f3f4f6;
            border-radius: 10px;
        }
    }

    h3.subtitle {
        color:#2399f3;
        margin-top: 20px;
    }

    .description {
        color: #8090a7;
        line-height: 1.5em;
    }
}
