#vehicle {
    background-color: $white;
    width: calc(100% - #{$sidebar-width} - #{$gap});

    & > div + div {
        padding: 25px;
    }

    .slideshow-container {
        position: relative;

        .mySlide {
            height: 520px;
            border-radius: 10px 10px 0 0;
            background-position: center;
            background-size: cover;
            transition: opacity 0.2s ease;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            transform: translateY(-50%);
            color: $white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;

            svg {
                width: 13px;
                stroke-width: 25;
                height: 22px;
                @include divCenter;
            }

            &:hover {
                background-color: $gray-100;
                color: $black;
            }
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }

    .thumbnails {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .img {
            height: 108px;
            width: 100%;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .specifications {
        .specifications-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .specification {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                width: calc(50% - 30px / 2);
                padding: 30px 0;
                border-bottom: 1px solid $gray-300;

                .title {
                    color: $grey;
                }

                .data {
                }
            }
        }
    }

    .contact {
        .form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .input {
                width: calc(50% - 30px / 2);
                margin-top: 30px;

                input {
                    height: 50px;
                }
            }

            .textarea {
                width: 100%;
                margin-top: 30px;

                textarea {
                    height: 180px;
                }
            }

            label {
                width: 100%;
                color: $grey;
                margin-top: 30px;
            }

            input,
            textarea {
                font-family: 'Lato', sans-serif;
                width: 100%;
                border: 1px solid $gray-300;
                border-radius: 5px;
                margin-top: 15px;
                font-size: 1.1em;
                padding: 15px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #vehicle {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    #vehicle {
        .slideshow-container .mySlide {
            height: 400px;
        }
        .specifications .specifications-list .specification {
            width: 100%;
        }
        .contact .form .input {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    #vehicle {
        .slideshow-container .mySlide {
            height: 300px;
        }

        .thumbnails .img:last-child {
            display: none;
        }
    }
}

@media screen and (max-width: 500px) {
    #vehicle .thumbnails {
        flex-wrap: wrap;

        .img {
            width: calc(50% - 5px);
        }
    }
}

@media screen and (max-width: 400px) {
    #vehicle {
        & > div + div {
            padding: 10px 0;
        }

        .slideshow-container .mySlide {
            height: 200px;
        }

        .thumbnails {
            .img {
                width: 100%;

                &:last-child {
                    display: block;
                }
            }
        }
    }
}
