.container {
    display: grid;
    grid-template-columns: 1fr 490px;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1480px;
    margin: 0 auto;

    @import './vehicule';
    @import './description';
    @import './vendor';
    @import './paiement';
}
