.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1480px;
    padding: 0 30px;
    margin: 0 auto 40px;

    // display: flex;
    // flex-direction: column;

    @import './vehicle';
    @import './description';
    @import './vendor';
    @import './paiement';

    .sidebar {
        width: $sidebar-width;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;

        .sidebar {
            width: 100%;
        }
    }
}
